.UKM_tabs {
	margin-top: 9px;
	min-width:940px;
}
.UKM_tabs_desc {
	background-color: #eee;
	padding: 4px 4px 4px 10px;
	border: 1px solid #CCC;
	border-top: 0px solid #ccc;
}

.UKM_tabs a {
	border: 1px solid #ccc;
	background: #ccc;  
	color:#0F6799;
	padding: 5px 5px;
	border-bottom: none;
	margin-right: 10px;
	display: inline-block;
	text-decoration:none;
	width: 280px;
	
	-webkit-border-top-left-radius: 3px;
	-webkit-border-top-right-radius: 3px;
	-moz-border-radius-topleft: 3px;
	-moz-border-radius-topright: 3px;
	border-top-left-radius: 3px;
	border-top-right-radius: 3px;
}
.UKM_tabs a:hover{ background: #ddd; color: #21759B;}
.UKM_tabs a.active{ background: #eee; color: #21759B;}

.UKM_tabs a div{ clear:both;}
.UKM_tabs a div > span{display:inline-block; margin:0 0 0 10px; font-size:12px; font-weight: normal;}
.UKM_tabs a div > span.tab_header{font-size:14px; font-weight: bold;}
.UKM_tabs a div > img{display:block; float:left;}
.UKM_content_wrapper { padding: 10px 0 10px 9px; border-left:1px solid #ccc;}

.UKM_tabs_5 a {
	width: 160px;
	display: inline-block;
}
.UKM_tabs_5 a div > span.tab_description{
	display:block;
	clear: both;
	margin-left: 0px;
}
